<div class="imagebox" style="color: {{ include.textcolor | default: '#333333' }}; background-color: {{ include.backgroundcolor | default: '#ffffff' }}">
  <div class="imagebox-content">
    <a href="{{ include.linkurl }}">
      <img class="imagebox-image" src="{{ include.image }}" alt="{{ include.title }} logo" >
    </a>
    <h3> {{ include.title }} </h3>
    <p>
      {{ include.description }}
    </p>
  </div>
  <div class="imagebox-link">
    <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
  </div>
</div>
