<div class="menu_community" style="color: {{ include.textcolor | default: 'white' }}; background-color: {{ include.backgroundcolor | default: 'lightseagreen' }}">
  <div class="menu_community-content">
    <div class="menu_community-text">
      <h3> {{ include.title }} </h3>
      <p>
        {{ include.description | markdownify }}
      </p>
    </div>

  {% if  include.linkurl %}     
    <a href="{{ include.linkurl }}">
{% endif %}
{% if  include.linktext %}  
  <div class="menu_community-link">
    <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
  </div>
{% endif %}  
</div>