<div class="menu_community" style="color: {{ include.textcolor | default: '#606c71' }}; background-color: {{ include.backgroundcolor | default: '#ffffff' }}">
  <div class="menu_community-content">
{% if  include.linkurl %}     
    <a href="{{ include.linkurl }}">
{% endif %}

    <div class="menu_community-text">
      <h3> {{ include.title }} </h3>
      <p>
        {{ include.description | markdownify }}
      </p>
    </div>
  </div>
{% if  include.linktext %}  
  <div class="menu_community-link">
    <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
  </div>
{% endif %}  
</div>