<div class="footer" style="color: {{ include.textcolor | default: '#3E3E3E' }}; background-color: {{ include.backgroundcolor | default: '#ffffff' }}">
    <div class="footer-content">
        {% if include.linkurl %}
        </a>
        {% endif %} {% if include.image %}
        <img class="footer-image" src="{{ include.image }}" alt="{{ include.title }} logo" style="float:{{ include.align | default: 'left' }}; {% if  include.imagewidth %}width: {{include.imagewidth}};{% endif %}"> {% endif %} {% if include.linkurl %}
        </a>
        {% endif %}
        <div class="footer-text">
            <h3> {{ include.title }} </h3>
            <p>
                {{ include.description | markdownify }}
            </p>
        </div>
    </div>
    {% if include.linktext %}
    <div class="footer-link">
        <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
    </div>
    {% endif %}


<div class="footer-content">
        {% if include.linkurl %}
        </a>
        {% endif %} {% if include.image %}
        <img class="footer-image" src="{{ include.image }}" alt="{{ include.title }} logo" style="float:{{ include.align | default: 'left' }}; {% if  include.imagewidth %}width: {{include.imagewidth}};{% endif %}"> {% endif %} {% if include.linkurl %}
        </a>
        {% endif %}
        <div class="footer-text">
            <h3> {{ include.title }} </h3>
            <p>
                {{ include.description | markdownify }}
            </p>
        </div>
    </div>
    {% if include.linktext %}
    <div class="footer-link">
        <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
    </div>
    {% endif %}


<div class="footer-content">
        {% if include.linkurl %}
        </a>
        {% endif %} {% if include.image %}
        <img class="footer-image" src="{{ include.image }}" alt="{{ include.title }} logo" style="float:{{ include.align | default: 'left' }}; {% if  include.imagewidth %}width: {{include.imagewidth}};{% endif %}"> {% endif %} {% if include.linkurl %}
        </a>
        {% endif %}
        <div class="footer-text">
            <h3> {{ include.title }} </h3>
            <p>
                {{ include.description | markdownify }}
            </p>
        </div>
    </div>
    {% if include.linktext %}
    <div class="footer-link">
        <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
    </div>
    {% endif %}
</div>