<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../assets/css/style.scss">
</head>
<body>
<div class="footer">
	<ul>
		<li><a href="README.md">HOME</a></li>
		<li><a href="README.md">SOFTWARE</a></li>
		<li><a href="README.md">BENEFITS</a></li>
		<li><a href="README.md">USERS</a></li>
		<li><a href="README.md">TOOLS</a></li>
		<li><a href="README.md">PARTNERS</a></li>
		<li><a href="README.md">COMMUNITY</a></li>
		<li><a href="README.md">EVENTS</a></li>
		<li><a href="README.md">CONTACT</a></li>
		<li><a href="README.md">SPONSORS</a></li>
	</ul>
	<img src="../img/icon_facebook.png">
	<img src="../img/twitter.jpg">
	<img src="../img/youtube.png">
</div>
</body>
</html>