<div class="software-block"> 
  <a href="https://develop.opencast.org/">
    <div class="menu_community" target="_top">
      <h3>Try it!</h3>
    </div>
  </a>
  
  <a href="https://docs.opencast.org/r/5.x/admin/installation/" target="_top">
    <div class="menu_community" >
      <h3 class="software-link">Install it!</h3>
    </div>
  </a>  
  
  <a href="https://docs.opencast.org">
    <div class="menu_community" >
      <h3>Use it!</h3>
    </div>
  </a>  
</div>
<div class="software-more"><a href="/download" style="float:right;">Tell me more...</a></div>
