<div class="software-block"> 
  <a href="https://develop.opencast.org/">
    <div class="menu_community" target="_top">
      <h1>Try it!</h1>
    </div>
  </a>
  
  <a href="https://docs.opencast.org/r/5.x/admin/installation/" target="_top">
    <div class="menu_community-content" >
      <h1 class="software-link">Install it!</h1>
    </div>
  </a>  
  
  <a href="https://docs.opencast.org">
    <div class="menu_community-content" >
      <h1>Use it!</h1>
    </div>
  </a>  
  <div "software-more"><a href="/download">Tell me more...</a></div>
</div>
