<div class="wolfvision" style="color: {{ include.textcolor | default: '#606c71' }}; background-color: {{ include.backgroundcolor | default: '#ffffff' }}">
  <div class="wolfvision-content">
{% if  include.linkurl %}     
    <a href="{{ include.linkurl }}">
{% endif %}
{% if  include.image %}      
      <img class="wolfvision-image" src="{{ include.image }}" alt="{{ include.title }} logo" 
           style="float:{{ include.align | default: 'left' }}; {% if  include.imagewidth %}width: {{include.imagewidth}};{% endif %}">
{% endif %}