<div class="embed-container">
  <h2> Schedule </h2>
<p>
	Opencast Schedule lets you schedule an event to be automatically recorded on specific days and times of the week, and the distribution channel to which the recordings will be published.

<li> Based on open standard iCal format</li>
<li> Manual or automated capture based on schedule</li>
<li> Configurable capture encoding specifications</li>
<li> iCalendar import from external scheduling source</li>
<li> Integrates with open source and proprietary capture hardware</li>
<li> Tools for disaster recovery</li>
</p>
</div>
