---
---

@import "{{ site.theme }}";

.main-menu {
  max-width: 75rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;  
  height: 80px;
}

li a.menu-item {
 display: inline;
 float: right;
}

ul.navigation-list {
  list-style-type: none;
}

.menu-item {
    margin: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
    font-style: normal;
    font-size: 12px;
}

.opencast-logo {
  width: 200px;
  height: auto;
  vertical-align: middle;
  margin-top: -12px;
  float: left;
}

.feature-image-left {
  float: left; 
  margin-right: 20px;
  margin-bottom: 30px;
}

.feature-image-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 30px;
}

.center-image {
}

.navigation {
  float: right;
  padding: 10px;
  margin-top: -17px;
}
